<label>Server Name</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<button class="btn btn-primary" [disabled]="!allowNewServer"(click)="onCreateServer()">Add Server</button>
<!--<p [innerText]="">{{allowNewServer}}</p>-->
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreate; else noServer">server created,server name {{serverName}}</p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
